.analytics-container{
    background: #F8F8F8;
    border-radius: 15px;
    padding: 2em;
display: flex;
justify-content: center;
flex-wrap: wrap;
align-items: center;
gap: 3em;
   margin-bottom: 6em;
}


.analytics-item img{
    width: 100px;
    object-fit: cover;
}



.analytics-item p{
    color:#36306E
    ;
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 0;
}


.analytics-item img{
    transition: transform 0.3s ease-in-out;
}


.analytics-item:hover img {
    
    transform: scale(1.1);
  }
.analytics-item{
display: flex;
justify-content: center;
cursor: pointer;
align-items: center;
flex-direction: column;
}






@media only screen and (max-width: 768px){
    .analytics-container{
        background: #F8F8F8;
        border-radius: 15px;
        padding: 1em;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       margin-bottom: 2em;
       grid-auto-flow: dense;
       justify-content: center;
       align-items: center;
       gap: 5px;
       
       place-items: center;
    }

    .analytics-item{
        margin-bottom: 10px;

    }
  
    .analytics-item p{
        font-size: 1em !important;
        margin-bottom: 0;
        white-space: wrap;
    }


    
}