.blog-list{
   gap: 1em;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
   margin-bottom: 2em;

}



.blog-content p{
    color: #252525;
    text-align:justify ;
    width: 430px;
    

}


.blog-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-item img{
    max-width: 100%;
    transform: translateX(0px);




}

.blog-item{
    padding: 0;
    margin: 0;
}


.blog-content h5{
    font-weight: 600;
}

.blog-content h4{
    font-size: 16px;
    color: #36306E;
    margin-top: 10px;
}






.top_intro_content h3{
    font-weight: 400;
    text-align: center;
    margin-bottom: 0;
}



.top_intro_content p{
    color: #36306E;
    text-align: center;
}

.blog-btn{
    color: #36306E;
    border: none;
    font-weight: 500;
    background: transparent
}


.blog-image{
   max-width: 100%;
  
object-fit:cover ;

border-radius: 15px;


}



.view-all-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}


.view-all-btn button {
    color: #E42424;
    font-size: 1em;
    border: 1px solid #E42424;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    text-transform: capitalize;
  }
  
  .view-all-btn button:hover {
    transform: translateY(-3px); 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); 
    border-color: #ff4d4d; 
  }
  
  .view-all-btn button:active {
    transform: translateY(1px); 
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15); 
  }
  
  .view-all-btn button:focus {
    outline: none;
    box-shadow: 0px 0px 5px 2px rgba(228, 36, 36, 0.5);
  }
  

@media only screen and (max-width: 768px){


    .blog-list{
        display: flex;
        flex-direction: column;
        gap: 2em;

        margin-bottom: 2em;
    }


   

    .blog-content p{
        color: #252525;
        text-align:justify ;
        width: fit-content;
    
    }
    
}


